header{
    display: flex;
    justify-content: space-between;
    margin: 5% 5%;

    .navigation{
        width: 15%;
        display: flex;
        font-weight: bold;
        justify-content: space-between;
    }



}